:root {
    --background-color: #2C2F33;
    --container-background: #23272A;
    --input-border: #3A3F47;
    --navbar-background: #2C2F33;
    --link-color: #73B2FF;
    --link-hover-background: #1F2933;
    --dropdown-background: #2C2F33;
    --dropdown-hover-background: #3A3F47;
    --text-color: white;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --border-radius: 5px;
    --button-color: #73B2FF;
    --button-hover-color: #599cee;
}

.admin-action-main {
    background-color: var(--background-color);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-action-container {
    background-color: var(--container-background);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 350px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
}

h2 {
    text-align: center;
    color: var(--text-color);
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #1F2933;
    color: white;
}

button {
    width: 95%;
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}
