:root {
    --background-color: #2C2F33; 
    --container-background: #23272A; 
    --input-border: #73B2FF; 
    --button-color: #73B2FF; 
    --button-hover-color: #599cee; 
    --link-color: #73B2FF; 
    --text-color: white; 
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    --border-radius: 5px; 
}

/* Main container styling for Create User */
.main {
    background-color: var(--background-color);
    font-family: 'Whitney', 'Helvetica Neue', 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    background-color: var(--container-background);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    width: 100%;
    max-width: 400px;
    min-height: 500px;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: var(--text-color);
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], select {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #2C2F33;
    color: white;
}

button {
    width: 95%;
    padding: 10px;
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}

#passwordRequirements {
    text-align: left;
    margin: 10px 0;
}

#passwordRequirements p {
    margin: 5px 0;
    font-size: 14px;
    color: var(--text-color);
}

.invalid {
    color: #F04747; 
}

.valid {
    color: #43B581; 
}

.username-generated {
    color: #43B581;
    font-weight: bold;
}
